@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2"),
    url("../fonts/ptsans.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2"),
    url("../fonts/ptsansbold.woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --grey-background: #f2f2f2;
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-blue: #81B3D2;
  --basic-grey: #eeeeee;
  --extra-grey: #766357;
  --basic-dark-grey: #333333;
  --specific-grey: #A9A9A9;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background: var(--basic-white);
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  min-height: 56px;
}

.nav__item {
  line-height: 26px;
  list-style: none;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.nav__item:nth-child(2){
  margin-right: 35px;
}

.nav__item:nth-child(3){
  margin-left: 35px;
}

.nav__item:hover .nav__link {
  color: var(--basic-blue)
}

.nav__link:active {
  opacity: 0.5;
}

.nav__link {
  color: var(--basic-black);
  text-decoration: none;
  font-weight: 700;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: calc(-138px/2);
  z-index: 2;
}

.page-body {
  background: var(--grey-background);
  font-family: "PT Sans", "Calibri", sans-serif, Arial,sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 0 10px;
  text-align: center;
}

.welcome {
  height: auto;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.welcome__bg {
  max-width: 100%;
}

.welcome__layout {
  position: absolute;
  bottom: -1px;
}

.welcome__text {
  position: absolute;
  width:  min(457px, calc(457/1200*100vw));
}

.main__title {
  max-width: 470px;
  margin: 0 auto;
  padding: 43px 0 30px 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.text {
  color: var(--basic-dark-grey);
}

.advantages-cards {
  margin: 50px 0 0 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages_inner {
  display: flex;
  margin: 0;
  padding: 0;
}

.advantage {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantage_wide {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .text {
    font-size: 12px;
  }
  .card {
    padding: 15px;
  }
  .card_white {
    padding-top: 80px;
    background-position: 50% 10px;
    background-size: 25%;
  }
  .advantage__title {
    margin-bottom: 10px;
  }
}

.advantage__title {
  font-weight: 700;
  margin: 0 0 25px 0;
  font-size: 21px;
}

.card {
  flex-basis: 33.3%;
  box-sizing: border-box;
  padding: 40px
}

.card_blue {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.card_blue .text {
  color: var(--basic-white);
}

.card_grey {
  background-color: var(--basic-grey);
}

.card_white {
  padding-top: 150px;
  background-position: 50% 60px;
  background-repeat: no-repeat;
}

.card_white:nth-child(1) {
  background-image: url("../img/icons/icon1.svg");
}

.card_white:nth-child(2) {
  background-image: url("../img/icons/icon2.svg");
}

.card_white:nth-child(3) {
  background-image: url("../img/icons/icon3.svg");
}

.advantage__pic {
  flex-basis: 66.6%;
}

.advantage__pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-title {
  line-height: 30px;
  font-size: 24px;
  font-weight: 700;
  margin: 58px 0 40px 0; 
}

.hotels {
  background: url("../img/map.png") 0px 240px no-repeat;
  height: 764px;
}

.hotels .text {
  margin: 0 auto 50px auto;
  width: 435px;
}

.button-search_grey {
  display: block;
  margin: 0 auto;
  width: 568px;
  height: 86px;
  background: var(--extra-grey);
  color: var(--basic-white);
  text-decoration: none;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button-search_grey:hover {
  background: #604E43;
}

.button-search_grey:active {
  background: #503E33;
  ;
}

.search-form {
  display: block;
  background-color: var(--basic-white);
  width: 458px;
  height: 255px;
  margin: 0 auto;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  padding: 55px;
}

.input {
  background: var(--grey-background);
  border: none;
  height: 38px;
  margin: 0 0 0px 15px;
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}

.input:hover {
  background-color: #EBEBEB;
}

.input:focus {
  background-color:var(--basic-white);
  border: 2px solid #EBEBEB;
  outline: none;
}

.input-date {
  width: 100%;
  padding-left: 15px;
  font-family: "PT Sans", "Calibri", sans-serif;
}

.input-date-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  flex-grow: 1;
}

.btn-cal {
  content: url("../img/icons/calendar.png");
  position: absolute;
  cursor: pointer;
  right: 10px;
  border: none;
}

input[type='number'] {
  font-family: "PT Sans", "Calibri", sans-serif;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
  width: 114px;
  text-align: center;
}

.btn {
  background: transparent;
  border: none;
  margin: 0;
  position: absolute;
}

.num-input {
  position: relative;
}

.min {
  top: 5px;
  left: 20px;
}

.plus {
  top: 10px;
  right: 5px;
}

.min:hover svg>*, 
.plus:hover svg>*,
.btn-cal:hover svg>* {
  fill: var(--basic-black);
}

.min:active svg>*, 
.plus:active svg>*,
.btn-cal:active svg>* {
  fill: var(--basic-blue);
}


.form-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: left;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 29px 0;
}

.button-search_blue {
  display: block;
  margin: 10px auto 0auto;
  width: 100%;
  height: 58px;
  background: var(--basic-blue);
  color: var(--basic-white);
  text-decoration: none;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  border: none;
}

.button-search_blue:hover {
  background-color: #669EC0;
}

.button-search_blue:active {
  background-color: #5496BD;
}


.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.9);
  height: 120px;
  margin-top: -120px;
}

@media (max-width: 768px) {
  .contact {
    font-size: 14px;
  }
  .social__item{
    width: 40px;
    height: 40px;
  }
}

.contact {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.footer__phone {
  color: var(--basic-black);
  text-decoration: none;
}

.social {
 display: flex;
}

.social__item {
  list-style: none;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
  margin: 0 6px 0 0;
}
.social__item:hover {
  background-color: #669EC0;
}

.social__item:active {
  background-color: #5496BD;
}

.social-icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.copyright {
  display: flex;
}

.copyright:hover {
  color: var(--basic-blue);
}

.copyright:active {
  color: #BDBBBC;
}

.academy-logo {
  margin: 0 0 0 8px;
}

.copyright:hover .academy-logo path{
  fill: var(--basic-blue);
}

.copyright:active .academy-logo path{
  fill: #BDBBBC;
}